
.home{
    padding: 30px;
    margin-top: 100px;

}


.home-all{
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}
.home-input {
    padding: 30px;
    background: #170031;
    transition: .3s;
    box-shadow:3px 3px 30px 4px rgba(0,0,0,0.4);
    border-radius: 20px;

}
.home-input:hover{
    box-shadow:3px 3px 30px 4px rgba(0,0,0,0.5);
}
.home-input input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: transparent;
    color: #e4e4e4;
    font-size: 15px;
    outline: none;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 10px;
}
.home-input ::placeholder{
    color: #8b8b8b;
    margin-left: 0;
    padding: 10px;
}

button{
    border: none;
}

.home-input textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    background: transparent;
    color: #c9c9c9;
    font-size: 15px;
    outline: none;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 10px;
}


.home-text{
    padding: 20px;
    padding-top: 60px;
    background: none;
    height: auto;
}
.home-text h3{
    font-size: 55px;
}
.home-text p{
    font-size: 17px;
}

.home .btn-box{
    max-width: 345px;
    height: 40px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: 100%;
    padding: 10px;
    background: #d86100;
    border: none;
    font-size: 16px;
    color: #0A102F;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #170031;
    z-index: -1;
    transition: .5s;
    border: 1px solid #d86100;

}

.btn-box a:hover::before{
    width: 100%;
}

.btn-box a:hover{
    color: #d86100;
}

.icons {
    display: flex;
    padding: 10px;
    width: 100%;
}
.icons a{
    margin-left: 20px;
}
.icons img{
    transition: ease-in-out .2s;
}
.icons img:hover{
    transform: scale(1.4) rotate(50deg);
}

.links{
    background-color: white;
    width: auto;
    height: auto;
    margin-top: 20px;
    padding: 15px;
    line-height: 1.8;
    background: #170031;
    transition: .3s;
    box-shadow:3px 3px 30px 4px rgba(0,0,0,0.3);
    border-radius: 20px;
    border: 1px solid rgb(29, 29, 29);
}

.links:hover{
    box-shadow:3px 3px 30px 4px rgba(0,0,0,0.5);
    border: 1px solid rgb(17, 17, 17);
}

.links p{
    font-size: 14px;
    color: #646464;
}
.links a{
    text-decoration: none;
}
.links a:hover{
    text-decoration: underline;
}
