h1{
    color: rgb(77, 77, 77);
}


section {
    margin-top: 200px;
    width: 100%;
    height: auto;
    
}

.case{
    padding: 20px;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-bottom: 50px;
}

.case .comp{
    aspect-ratio: 1;
    transform-origin: center;
    transition: transform 0.5s ease;
    padding: 20px;
    background-color: #100022;
    width: 330px;
    height: 300px;
    border-radius: 10px;
    borde: 1px solid rgba(83, 83, 83, 0.315);
    transition: .2s;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.case .comp:hover{
    transform: scale(1.0);
    cursor:context-menu;
    box-shadow: 3px 5px 5px #3f0088;
}

.case .comp h1{
   font-size: 22px;
}
.case .comp p{
   font-size: 17px;
}

.btn-box-deux a{
    background-color: #d86100;
    padding: 10px 20px 10px 20px;
    color: #100022;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    overflow: hidden;
    z-index: 1;
}

.btn-box-deux a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #100022;
    z-index: -10;
    transition: .4s;
}

.btn-box-deux a:hover::before{
    width: 100%;
    border: 1px solid #d86100;
}

.btn-box-deux a:hover{
    color: #d86100;
}

.skills{
    margin-top: 250px;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:30px;
max-width:900px;
margin:auto;
transition: transform .3s ease;
}
.skills-grid:hover{
transform: scale(0.97);
}

.skill-box{
background:#100022;
padding:25px;
border-radius:15px;
text-align:center;
transition:0.3s;
border: 1px solid rgba(83, 83, 83, 0.215);
cursor: auto;
}

.skill-box i{
font-size:50px;
margin-bottom:10px;
}

.skill-box p{
font-weight:500;
}

.skill-box:hover{
transform:translateY(-10px);
box-shadow:0 0 13px #38bdf8;
}

.section-title{
font-size:42px;
text-align: center;
margin-bottom:50px;
font-weight:600;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 4rem;
    width: 900px;
    margin: auto;
}

.grid-item{
    aspect-ratio: 1;
    background: #4a6cf7;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
}

.item-1{
    background-image: url(image/1.png);
    background-size: cover;
    background-position: center;
}
.item-2{
    background-image: url(image/2.png);
    background-size: cover;
    background-position: center;
}
.item-3{
    background-image: url(image/3.png);
    background-size: cover;
    background-position: center;
}
.item-4{
    background-image: url(image/4.png);
    background-size: cover;
    background-position: center;
}
.item-5{
    background-image: url(image/5.png);
    background-size: cover;
    background-position: center;
}
.item-6{
    background-image: url(image/6.png);
    background-size: cover;
    background-position: center;
}

.grid-item:hover{
    transform: scale(1.05);
    z-index: 1;
}

.grid-container:hover .grid-item:not(:hover) {
    transform: scale(0.95);
}


