*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #7700ff;
    color: #333;
}

header{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    display: flex;
    padding: 0 30px;
    transition: all 0.3s ease-in-out;
    align-items: center;
    border-radius: 100px;
}
nav a:hover{
    background-color: #902eff;
    color: #F0F0F0;
    border-radius: 100px;
}
nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color:rgba(119, 0, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0,  0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
img{
    fill: #000000;
}